// Variables
$mainColor: #02afb0;
$secondaryColor: #fe876f;
$drawerWidth: 200px;

// Globals
* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

// Blueprints
.view-container {
  padding-top: 75px;
  padding-left: $drawerWidth + 75px;
  padding-right: 75px;
}
