@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif !important;
  font-size: 20px;
}

@media only screen and (max-width: 820px) {
  * {
    font-size: 16px;
  }
}

#root {
  background-color: whitesmoke;
}

.view-container {
  padding-top: 75px;
  padding-left: 275px;
  padding-right: 75px;
}

@media only screen and (max-width: 820px) {
  .view-container {
    padding: 75px 10px 0 10px;
  }
}

.MuiSnackbarContent-root {
  background-color: #ffd09c !important;
}

.error-snack-container {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.error-snack-container p {
  color: #333;
  margin-right: 10px;
}

.close-icon {
  color: #333 !important;
  float: right;
}

.logo {
  margin: 10px;
  margin-bottom: 25px;
}
