* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 820px) {
  * {
    font-size: 16px;
  }
}

.view-container, .dashboard-container {
  padding-top: 75px;
  padding-left: 275px;
  padding-right: 75px;
}

@media only screen and (max-width: 820px) {
  .view-container, .dashboard-container {
    padding: 75px 10px 0 10px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1500;
  height: 75px;
  width: 100%;
  background-color: #ffd09c;
}

.header h4 {
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 820px) {
  .header h4 {
    font-size: 1.5rem;
  }
}

.header .menu-button {
  position: absolute;
  left: 0;
  top: 75px/2;
  margin-left: 25px;
  color: white;
}

.error-paragraph {
  text-align: center;
}

.drawer .MuiDrawer-paper {
  width: 200px;
  margin-top: 75px;
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc(100vh - 75px);
}

.table {
  margin-top: 50px;
  height: auto;
}

@media only screen and (max-width: 820px) {
  .table {
    max-width: 600px;
  }
}

.table .table-header th {
  font-weight: bold;
}

.table .date-switch .MuiSwitch-colorSecondary.Mui-checked {
  color: #61f7d2;
}

.table .date-switch .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #61f7d2;
}

.table .MuiTableCell-root.collapsible-cell {
  background-color: rgba(255, 208, 156, 0.2);
  padding-bottom: 0;
  padding-top: 0;
}

.table .MuiTableCell-root.collapsible-cell h4 {
  margin-top: 25px;
}

.table .MuiTableCell-root.collapsible-cell .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 820px) {
  .table .MuiTableCell-root.collapsible-cell .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.table .MuiTableCell-root.collapsible-cell .wrapper .info-container {
  width: 40%;
  padding: 15px;
  line-height: 1.7rem;
}

@media only screen and (max-width: 820px) {
  .table .MuiTableCell-root.collapsible-cell .wrapper .info-container {
    width: 100%;
  }
}

.table .MuiTableCell-root.collapsible-cell .wrapper .info-container p {
  border-bottom: 1px solid lightgrey;
}

.table .MuiTableCell-root.collapsible-cell .wrapper .info-container p div {
  display: inline;
}

.table .MuiTableCell-root.collapsible-cell .wrapper .info-container span {
  float: right;
  font-weight: bold;
  text-align: end;
}

.table .MuiTableCell-root.collapsible-cell .wrapper .info-container span:first-letter {
  text-transform: capitalize;
}

.table .MuiTableCell-root.collapsible-cell .wrapper .status-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.table .MuiTableCell-root.collapsible-cell .wrapper .status-buttons-container div:first-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.table .MuiTableCell-root.collapsible-cell .wrapper .notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  margin: 15px;
  width: 50%;
  border: 1px solid lightgrey;
}

@media only screen and (max-width: 820px) {
  .table .MuiTableCell-root.collapsible-cell .wrapper .notes-container {
    width: 90%;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */