@import './globals.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1500;
  height: 75px;
  width: 100%;
  background-color: $secondaryColor;

  h4 {
    color: white;
    font-size: 2rem;
    @media only screen and (max-width: $smallScreen) {
      font-size: 1.5rem;
    }
  }

  .menu-button {
    left: 0;
    top: 75px/2;
    margin-left: 25px;
    color: white;
  }
}

.error-paragraph {
  text-align: center;
}

.drawer {
  .MuiDrawer-paper {
    width: $drawerWidth;
    background-color: $secondaryColor;
    color: white;

    p {
      font-size: 14px;
      text-align: center;
    }

    .MuiSvgIcon-root {
      color: white;
    }

    img {
      margin: 50px 10px 25px;
    }
  }
}

.status-popover {
  padding: 0 10px;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 75px);
  @extend .view-container;
}

// Inquiry table

.table {
  height: auto;
  @media only screen and (max-width: $smallScreen) {
    max-width: 600px;
  }

  .table-header th {
    font-weight: bold;
  }

  .date-switch {
    .MuiSwitch-colorSecondary.Mui-checked {
      color: $mainColor;
    }
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
      background-color: $mainColor;
    }
  }

  .MuiTableCell-root.collapsible-cell {
    background-color: rgba(255, 208, 156, 0.2);
    padding-bottom: 0;
    padding-top: 0;

    h4 {
      margin-top: 25px;
    }

    .wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      justify-content: space-between;
      @media only screen and (max-width: $smallScreen) {
        flex-direction: column;
      }

      .info-container {
        width: 40%;
        padding: 15px;
        line-height: 1.7rem;

        @media only screen and (max-width: $smallScreen) {
          width: 100%;
        }
        p {
          border-bottom: 1px solid lightgrey;

          div {
            display: inline;
          }
        }
        span {
          float: right;
          font-weight: bold;
          text-align: end;
          &:first-letter {
            text-transform: capitalize;
          }
        }
      }

      .status-buttons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        div:first-of-type {
          flex-direction: row;
        }
      }

      .notes-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin: 15px;
        width: 50%;
        border: 1px solid lightgrey;
        @media only screen and (max-width: $smallScreen) {
          width: 90%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// Login page

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  .login-image {
    height: 100%;
    width: 60%;
    object-fit: cover;
    @media only screen and (max-width: $tablet) {
      z-index: 0;
      position: absolute;
      width: 100%;
    }
  }

  .login-container {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: $tablet) {
      border-radius: 4px;
      background-color: #fff;
      z-index: 1;
      margin: auto;
      width: 60%;
      padding: 25px 10px;
    }
    @media only screen and (max-width: $mobile) {
      width: 80%;
    }

    h1 {
      text-transform: uppercase;
      font-size: 24px;
      color: #333;
    }

    p {
      margin-top: 50px;
      font-size: 13px;
      color: #333;
    }

    .form-container {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      width: 75%;

      .MuiFormControl-root {
        margin-bottom: 25px;
      }

      .MuiOutlinedInput-root {
        fieldset {
          border-color: $secondaryColor;
        }
      }

      .MuiFormLabel-root,
      .MuiFormLabel-root.Mui-focused {
        color: $secondaryColor;
      }

      .MuiButton-outlinedPrimary {
        border-color: $secondaryColor;
        color: $secondaryColor;

        &:hover {
          background-color: $secondaryColor;
          color: white;
        }
      }
    }
  }
}
